<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootKafkaStreamsPlaygroundApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <option name="ACTIVE_PROFILES" value="local" />
    <module name="spring-boot-kafka-streams-playground" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="ch.buedev.playground.spring_boot_kafka_streams_playground.SpringBootKafkaStreamsPlaygroundApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>